
<!--begin::Header-->
					<div id="kt_header" class="header header-fixed">

						<!--begin::Container-->
						<div class="container-fluid">

							<!--begin::Header Menu Wrapper-->
							<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">

								<!--begin::Logo-->
								<div class="header-logo mr-10 d-none d-lg-flex">
									<a href="index.html">
										<img alt="Logo" src="{{ url_for('static', filename='assets/media/logos/logo-5.svg') }}" class="h-40px" />
									</a>
								</div>

								<!--end::Logo-->
							</div>

							<!--end::Header Menu Wrapper-->

						</div>

						<!--end::Container-->
					</div>

					<!--end::Header-->