<!--begin::Subheader-->
<div class="subheader py-6" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">

        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">

            <!--begin::Aside Toggle-->
            <button class="btn btn-icon mr-4" id="kt_aside_toggle">
									<span class="svg-icon svg-icon-xl">

										<!--begin::Svg Icon | path:assets/media/svg/icons/Text/Toggle-Left.svg-->
										<svg xmlns="http://www.w3.org/2000/svg"
                                             width="24px" height="24px"
                                             viewBox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<rect x="0" y="0" width="24" height="24"/>
												<path d="M2 11.5C2 12.3284 2.67157 13 3.5 13H20.5C21.3284 13 22 12.3284 22 11.5V11.5C22 10.6716 21.3284 10 20.5 10H3.5C2.67157 10 2 10.6716 2 11.5V11.5Z"
                                                      fill="black"/>
												<path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M9.5 20C8.67157 20 8 19.3284 8 18.5C8 17.6716 8.67157 17 9.5 17H20.5C21.3284 17 22 17.6716 22 18.5C22 19.3284 21.3284 20 20.5 20H9.5ZM15.5 6C14.6716 6 14 5.32843 14 4.5C14 3.67157 14.6716 3 15.5 3H20.5C21.3284 3 22 3.67157 22 4.5C22 5.32843 21.3284 6 20.5 6H15.5Z"
                                                      fill="black"/>
											</g>
										</svg>

                                        <!--end::Svg Icon-->
									</span>
            </button>

            <!--end::Aside Toggle-->

            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">

                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-1 mr-5">Index</h5>

                <!--end::Page Title-->
            </div>

            <!--end::Page Heading-->
        </div>

        <!--end::Info-->

    </div>
</div>

<!--end::Subheader-->