
<!--begin::Main-->

        {% include 'partials/_header-mobile.html' %}

        {% include 'partials/_aside.html' %}
		<div class="d-flex flex-column flex-root">

			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">

				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

                    {% include 'partials/_header.html' %}

                    {% include 'partials/_subheader.html' %}

					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

                        {% include 'partials/_content.html' %}
					</div>

					<!--end::Content-->

                    {% include 'partials/_footer.html' %}
				</div>

				<!--end::Wrapper-->
			</div>

			<!--end::Page-->
		</div>

		<!--end::Main-->